<div class="question">
	<div ng-show="error" ng-bind="error" class="error"></div>
	<div ng-if="!admin" ng-bind="question.text"></div>
	<textarea ng-if="admin" ng-model="question.text"></textarea>
	<div ng-if="question.text">Schéma: <span ng-bind="question.schema"></span></div>
	<button ng-click="format()">format</button> <button ng-click="evaluate()" ng-disabled="evaluating || passed">execute</button>
	<span ng-if="admin">admin: <button ng-bind="questionId ? 'update' : 'create'" ng-click="upsert()"></button>
		<button ng-if="questionId" ng-click="navToNewQuestion()">new</button></span>
</div>
<ui-codemirror ui-codemirror-opts="editorOptions" ng-model="question.sql" ng-hide="passed"></ui-codemirror>
<div ng-if="passed">
	<h2>Question terminée<h2>
	<div ng-if="passed.sql">
		<h3>Votre réponse</h3>
		<pre ng-bind="passed.sql"></pre>
		<h3>La réponse</h3>
		<pre ng-bind="passed.answer"></pre>
		<a href="mailto:boris.fritscher@he-arc.ch">Signaler une erreure.</a>
	</div>

</div>


<div ng-show="results.numrows">
	<div>
		{{results.numrows}}
		<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          Previous
		</button>
		{{currentPage+1}}/{{numberOfPages()}}
		<button ng-disabled="currentPage >= results.content.length/pageSize - 1" ng-click="currentPage=currentPage+1">
          Next
		</button>
	</div>
	<div class="output-box">
	  <table class="output">
	  <tr>
		<th ng-repeat="v in results.headers" ng-bind="v"></th>
	  </tr>
	  <tr ng-repeat="row in results.content | startFrom:currentPage*pageSize | limitTo: pageSize">
		<td ng-repeat="c in row track by $index" ng-bind="c" ng-class="{'right': isNum(c) || isNull(c)}"></td>
	  </tr>
	  </table>
	</div>
</div>

<h3 ng-click="historyLimit = ! historyLimit" >History <span class="clearHistory" ng-click="clearHistory()">clear</span></h3>
<div class="history" ng-class="{'limit': historyLimit}">
	<table>
	<tr ng-repeat="r in history" ng-class="{'error': !(r.result >=0)}" ng-click="question.sql = r.sql">
		<td ng-bind="history.length - $index"></td>
		<td><pre ng-bind="r.sql" title="{{r.result || r.error}}"></pre></td>
	</tr>
	<table>
</div>

<h3>Schema</h3>
<img ng-src="https://amc.ig.he-arc.ch/sqlexplorer/{{db}}.png" my-schema-pic />

<div class="schemaPic">
	<div ></div>
</div>

<div id="questionId" ng-bind="questionId"></div>